<!DOCTYPE html>
<html>
<head>
 <title>Task 7</title>
 <link type="text/css" rel="stylesheet" href="css/style.css" />
 <script type="text/javascript" src="js/jquery.js"></script>
 <script type="text/javascript" src="js/underscore.js"></script>
 <script type="text/javascript" src="js/backbone.js"></script>

</head>

<body>
<div id="block" class="block">
</div>

<!-- Блок ввода имени пользователя -->
<script type="text/template" id="start"> 
    <div class="start"> 
        <div class="userplace">
            <label for="username">Имя пользователя: </label>
            <input type="text" id="username" />
        </div>
        <div class="buttonplace">
            <input type="button" value="Проверить" />
        </div>
    </div>
</script>

<!-- Блок ошибки -->
<script type="text/template" id="error">
    <div class="error">
        Ошибка. Пользователь  <%= username %> не найден.
        <a href="#!/">Go back</a>
    </div>
</script>

<!-- Блок удачи -->
<script type="text/template" id="success">
    <div class="success">
        Пользователь <%= username %> найден.
        <a href="#!/">Go back</a>
    </div>        
</script>


<script src="js/index.js"></script>
<script>

</script>

</body>
</html>